@import "_myBootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap");

// font-family: 'Kalam', cursive;

.font-titoli {
  font-family: "Kalam", cursive;
}
body {
  font-family: "EB Garamond", serif;
}

.link-nav:hover {
  color: #de0000;
}
